@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500&display=swap');


*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: 'Lato',sans-serif;
    background: url('./assests/New Logo Without BG (1).png');
    background-position: top center;
    background-size: cover;
    background-repeat:no-repeat;
    
}
.parent-container{
    width:600px;
    display:block;
    margin:auto;  
}


.header{
    height:90px;
    z-index: 999;
    width:600px;
    background:linear-gradient(#fac021,
    #fa8011,
    #fc5306);
    text-align: center;
    color:#fff;
    display: block;
   margin: auto;
}
   
    .header-h3{
        font-family: 'Lato';
        font-weight: 700;
        font-size: 25px;
        padding-top: 20px;
    }
     .main-div{
        margin-top: 60px;   
     }

.div-one{
    width:570px;
    height:115px;
    box-shadow: 6px 10px 15px 10px #f1f1f1;
    padding: 13px;
    background: #fff;
}
.first-p{
    font-size: 18px;
}
.div-one-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:20px;
}
.div-one-flex .flex-one{
    width:185px;
    height:65px;
    box-shadow: 6px 10px 10px 2px #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.div-one-flex .flex-one:hover{
    background: linear-gradient(#fac021,
    #fa8011,
    #fc5306);
    color:#ffff;
    cursor: pointer;
}
.div-one-flex .active{
    background: linear-gradient(#fac021,
    #fa8011,
    #fc5306);
    width:190px;
    height:70px;
    color:#ffff;
}
.div-three{ 
    margin-top:30px;
    width:580px;
    height:160px;
    box-shadow: 6px 10px 15px 10px #f1f1f1;
    padding: 10px;
    background: #fff;
}
.input-three{
    width:100%;
    height:70px;
    margin-top:40px;
    border:none;
    border-bottom: 1px solid rgb(233, 228, 228);
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    background: #fff;
}
.input-three:focus{
    outline: none;
    appearance: none;
}
.input-three::placeholder{
    text-align: center;
    font-size:50px;
}
.div-three-pee{
    text-align: center;
    font-size: 12px;
    color:red;
    display:none;
}
.div-four{
    margin-top:20px;
    width:570px;
    box-shadow: 6px 10px 15px 10px #f1f1f1;
    padding: 15px 15px 25px 15px;
    display:none;
   margin-bottom: 30px;
}
.select-div{
    margin-top:25px
}

.select-div select:focus{
    outline:none;
    border: 2px solid rgb(117, 117, 223)
}                               
.select-div select{
    width:100%;
    height:30px;
    font-size: 15px;
}

.select-div select option{
font-size: 17px;
}

.div-five{
    width:555px;
     /* box-shadow: 6px 10px 15px 10px #f1f1f1;  */
    padding: 15px;
    display:none;
    background: #fff;
    margin-top: 30px;
}

.method-div{
    padding-top: 22px;
}

.method-div .method{
    width:540px;
    height:40px;
    /* box-shadow: 3px 3px 5px 5px #fdfcfc; */
    margin-bottom: 5px;  
    position: relative;
}
.text-method{
    position: absolute;
    top:12px;
    left:30px;
}
.font-five{
    position: absolute;
    top:12px;
    left:10px;
    color: #f57a07;
}
.method:hover {
   background-color: #f57a07;
   color:#fff !important; 
}
.method:hover .font-five{
     color:#fff !important;
}
.activated{
    background-color: #f57a07;
    color:#fff !important; 
}
.bank-account{
    width:552px;
    padding: 10px;
    display: none;
    background: #fff;
    margin-top: 30px;
}
.abuja-account{
    margin-top: 10px;
    display:flex;
   justify-content: space-between;
   padding: 20px;
   background: #fff;
}

.abuja-account button{
   width:60px;
   height:30px;
   background: #f57a07;
   border: none;
   border-radius: 5px;
}

.account-text p{
    margin-bottom: 8px;
}

.partnership-container .partnership-account{
   margin-bottom: 20px;
}

.projects-container .projects-account{
    margin-bottom: 20px;
}

@media(max-width:600px){
    .header{
        width:100%;
        height:70px;
    }

    .parent-container{
        width: 340px;
    }
    .header-h3{
        font-size: 20px;
        padding-top: 15px;
    }
     .main-div{
        top:120px;
     }
     .div-one{
        width:325px;
        height:140px;
    }
    .first-p{
        font-size: 17px;   
    }
    .div-one-flex{
        gap:13px;
        margin-top:30px;
    }
    .div-one-flex .flex-one{
        width:160px;
        height:70px;  
    }
    
.div-three{ 
    margin-top:40px;
    width:325px;
    height:120px;
    padding: 10px;
    margin-left: 10px;
}
.input-three{
    width:100%;
    height:100px;
    margin-top:20px;
    font-size: 30px;
    margin-bottom: 8px;  
}
.input-three::placeholder{
    font-size:30px;
}

.div-four{
    margin-top:20px;
    width:325px;
   margin-bottom: 20px;
}
.method-div .method{
    width:300px;
     
}
.div-five{
    width:300px;
    margin-top: 30px;
    
}
.bank-account{
    width:300px;
}
}